@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #222;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
}

.container__title {
  height: 100%;
  font-size: 10rem;
  color: #aaa;
  margin-bottom: 5rem;
}
